*{
    padding: 0;
    margin: 0;
}


#container{
    width: 1200px;
    margin: 20px auto;
    background-color: #fef0c9;
    height: 100vh;
}

.area-principal{
    display: flex;
}

.banner{
    background-color: black;
    width: 100%;
    height: 300px;
}

.banner img{
    width: 100%;
    height: 100%;
}

.botoes{
    width: 40%;  
}

.texto{
    width: 61%;
 
}

.video{
    display: flex;
    flex-wrap: wrap;
}

.video1{
    width: 27vh;
}

.video2{
  width: 27vh;  
}

.video3{
    background-color: rgb(123, 151, 243);
    width: 27vh;
   
}

.video4{
    background-color: rgb(43, 183, 226);
    width: 27vh;
}



ul{
   display: flex; 
   list-style: none;
   flex-direction: column;
}

ul li{
    margin: 20px 0px;
 }

ul li a{
    text-decoration: none;
    background-color: red;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
}

.texto{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.texto P{
    text-align: justify;
}

footer{
    display: flex;
    margin: 20px;
    justify-content: center;
   
    background-color: #fef0c9;
}